.header {
  padding: 12px;
}

.navBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: auto;
}
.navLinks {
  display: flex;
}

.navLink {
  font-size: 14px;
  margin-left: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.navLink:hover {
  text-decoration: underline;
}

.aplicatii {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  margin-right: 7px;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  margin-right: 7px;
}

.aplicatii {
  margin-left: 2rem;
  margin-right: 1rem;
}

.aplicatii:hover {
  cursor: pointer;
  background: rgba(60, 64, 67, 0.164);
}

.cont:hover {
  cursor: pointer;
  background: rgba(60, 64, 67, 0.164);
}
